/* @override http://localhost:5000/addons/static/trello/trelloboard.css */

div#TrelloBoard
{
    overflow-x: scroll;
    overflow-y: auto;
    white-space: nowrap;
	background-color: #730b03;
	border: 1px solid #28729d;
	border-radius: 5px;
	border-bottom-width: 0;
	border-top-width: 0;
	max-height: 600px;
	/*background-color: #28729d;*/
}


div#TrelloList {
}

div.TrelloListBlock
{
	background-color: #dbdbdb;
	margin-top: 0;
	margin-bottom: 20px;
	margin-left: 5px;
	width: 240px;
	border-radius: 5px;
	display: inline-block;
}

span.TrelloListName {
	font: bold 18px arial, verdana, sans-serif;
	padding-left: 5px;
}

div.TrelloListBlock.over {
	background-color: #ccfefa;
}


.TrelloCardLinkIcon
{
	float: right;
	display: none;
}

div.TrelloCoverImage img {
	max-width: 175px;
	height: auto;
	margin-bottom: 5px;
	display: block;
}


div.TrelloCard
{
font: normal normal 12px arial, verdana, sans-serif;
	display: block;
	border-style: none;
	border-width: 1px;
	width: 220px;
	background-color: #fefefc;
	border-bottom-style: outset;
	border-bottom-color: #fcfcfc;
	border-radius: 5px;
	white-space: normal;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	float: left;
	min-height: 40px;
	margin: 5px 5px 5px 9px;
}

div.TrelloCardName {
	padding-right: 15px;
}

span.attachment_preview {
	width: 250px;
	height: 150px;
	display: inline-block;
	color: #000;
	background-color: #efefef;
	overflow: hidden;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
	line-height: 125px;
	font-variant: small-caps;
	font-size: 18px;
}

span.attachment_description {
	display: inline-block;
}




div.trello_card_detail_comment {
	display: block;
	border: 1px solid #a7a7a7;
	width: 95%;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: left;
	overflow: hidden;
}

div.trello_card_detail_comment_comment {
	font: 13px/1.5 Georgia, "Times New Roman", Times, serif;
	text-indent: 10px;
}

div.trello_card_detail_comment_count {
	margin-top: 15px;
	margin-bottom: -5px;
	text-align: right;
	font: bold 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

div.trello_card_detail_comment_owner {
	width: 50%;
	float: right;
	margin-bottom: 10px;
	text-align: right;
}

div.trello_card_detail_comment_date {
	width: 50%;
	float: left;
	margin-bottom: 10px;
}

div.trello_card_detail_comment_header {
	font-size: 10px;
	display: block;
	float: none;
}

.TrelloBoardName a
{
	color: #feffff;
	text-indent: 10px;
	font-size: 24px;
	vertical-align: top;
	padding-left: 5px;
}

div.trello_card_detail_name {
	font: bold 18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 5px;
}

.trello_card_detail_name img{
	float: right;
	margin-right: 20px;
}

div.trello_card_detail_attchment_header {
	font-weight: bold;
	font-size: 14px;
	text-align: left;
	margin-bottom: 5px;
}


div.trello_card_detail_desc {
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 10px;
}


div.trello_card_detail_checklist_name {
	font-weight: bold;
	font-size: 14px;
	text-indent: 0;
}

div.trello_card_detail_checklist_checkitem {
	font-size: 12px;
	text-indent: 10px;
}



div.trello_card_detail_checklist_checkitem span.complete {
	text-decoration: line-through;
}


  .portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }
  .portlet-content {
    padding: 0.4em;
  }
  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
  }
